<section>
  <div class="container-fluid">
      <div class="col-12">
          <mat-card>
              <div class="row">
                  <div class="col-12">
                      <mat-card-title>Cadastro de Nutricionista
                      </mat-card-title>
                      <form class="row">
                          <mat-form-field class="col-4" appearance="outline">
                              <mat-label>Nome</mat-label>
                              <input matInput placeholder="Nome" required>
                          </mat-form-field>
                          <mat-form-field class="col-2" appearance="outline">
                              <mat-label>Sexo</mat-label>
                              <input matInput placeholder="Sexo" required>
                          </mat-form-field>
                          <mat-form-field class="col-4" appearance="outline">
                              <mat-label>CRN</mat-label>
                              <input matInput placeholder="CRN" required>
                          </mat-form-field>
                          <mat-form-field class="col-4" appearance="outline">
                              <mat-label>E-mail</mat-label>
                              <input matInput placeholder="E-mail" required>
                          </mat-form-field>
                          
                          
                      </form>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12 col-md-1 offset-md-10 mt-4">
                      <button mat-raised-button class="col-12" (click)="clearUsers()">Cancelar</button>
                  </div>
                  <div class="col-sm-12 col-md-1  mt-4">
                      <button mat-raised-button class="col-12 mat-primary" (click)="saveUsers()">Salvar</button>
                  </div>
              </div>
          </mat-card>
      </div>
      <div class="col-12 mt-2">

      </div>
  </div>
</section>