<div class="limiter">
    <div class="div-image-left-side">
        <div class="img-color-purple" style="background-image: url('assets/image_header.jpg');"></div>
        <div class="right-side" style="padding-left: 20px;">
            <form class="form-login">
                <span class="form-login-title">NutriSystem</span>
                <span class="font-weight-light" style="margin-top: 10px;"> NS </span>
            </form>
            <div class="container-form-btn">
                <div class="wrap-form-btn">
                    <div class="form-bgbtn"></div>
                    <button (click)="loginAzure()" class="form-btn">
                        Entrar AD
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
